<% content_for(:header) do %>
  Set a Wedding Budget
<% end %>

<% content_for(:subheader) do %>
	Do you know how much you can spend?
<% end %>

<% content_for(:lead) do %>
	Weddings are expensive. How expensive, though, is determined by your budget. Answer these few simple questions to understand what you can spend.
<% end %>

<div class="row">
  <div class="budget_form">

    <%= render 'form' %>
      
  </div>
</div>