<% content_for(:header) do %>
  Test Budget Page
<% end %>

<% content_for(:subheader) do %>
	Do you know how much you can spend?
<% end %>

<% content_for(:lead) do %>
	Weddings are expensive. How expensive, though, is determined by your budget. Answer these few simple questions to understand what you can spend.
<% end %>

<div class="row">
  <div class="budget_form">
    <form id="setting_budget">
    	<%= form_for @budget do |f| %>
	      <div class="col-md-10 col-md-offset-1 form-group">
	          <label for="speculated_amount">How much do you want to spend?</label><span class="aside">(if not sure, leave empty)</span><br>
	          <input type="text" id="speculated_amount" autofocus><br>
	      </div>

	      <div class="col-md-10 col-md-offset-1 form-group">
	          <label for="saved">How much have you already saved?</label><br>
	          <input type="text" id="saved"><br>
	      </div>

	      <div class="col-md-10 col-md-offset-1 form-group">
	          <label for="months_until">How many months until the wedding?</label><br>
	          <input id="months_until" type="number" value="1" min="1">
	      </div>

	      <div class="col-md-10 col-md-offset-1 form-group">
	          <label for="monthly_savings">How much can you realistically set aside each month?</label><br>
	          <input type="text" id="monthly_savings">
	      </div>
	      <div class="clear"></div>
	      <div class="col-md-2 col-md-offset-1">
	        <button id="submit" class="btn btn-default">What's my budget?</button>
	      </div>
     <% end %>
    </form>

  </div>
</div>