<% content_for(:header) do %>
  Set a Wedding Budget
<% end %>

<% content_for(:subheader) do %>
  Do you know how much you can spend?
<% end %>

<% content_for(:lead) do %>
  Weddings are expensive. How expensive, though, is determined by your budget. Answer these few simple questions to understand what you can spend.
<% end %>

<div class="row">
  <div class="budget_form">

    <%= render 'form' %>
      
  </div>
</div>

<div class="col-md-10 col-md-offset-1 lead" id="show_budget_result">
  <p>At this time, you anticipate spending <%= number_to_currency(@budget.speculated_amount, precision: 0) %> but, according to your available funds, your actual <em>Total Wedding Budget</em> is 
    <br><div class="total_calculated_budget"><h2><%= number_to_currency(@budget.total_budget, options = {precision: 0}) %></h2></div></p>
</div>