<% content_for(:header) do %>
  Test Budget Show Page
<% end %>

<% content_for(:subheader) do %>
	A great starting point for planning your wedding!
<% end %>

<% content_for(:lead) do %>
	Weddings are expensive. How expensive, though, should be determined by your budget, not your dreams.
<% end %> 

 <div class="col-md-10 col-md-offset-1 display_budget">
  <p>The national average for a wedding in 2013 was $25,200.</p>
    <div id="budget_result">
        <p>According to the information you have provided, your Total Wedding Budget is: $<span class="total_budget"></span></p>
    </div>
</div>