  <div class="row">
    <% content_for(:header) do %>
      Making a Checklist
    <% end %>

    <% content_for(:subheader) do %>
      Do you know what you want?
    <% end %>

    <% content_for(:lead) do %>
      Wedding planning can be time-consuming, complicated and overwhelming. This Wedding for 1000 Checklist makes the process less frustrating and more fun by enabling you to better determine and prioritize your wedding needs.
    <% end %>

    <% content_for(:instructions) do %>
      Spend a few minutes thinking about those elements of a wedding that are most meaningful to you. What are your Big Day Must Haves? When you're finished, click <em>Help Me Plan!</em> and get started!
    <% end %>
  </div>