/*= require bootstrap */

.clear {
  clear: both;
}

body {
  background: url(turquoise_pattern.png) !important;
  font-family: 'Merriweather', serif;
  font-size: 17px;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 65px;
  margin-left: 10%;
}

.container {
  width: 75%;
  border: 3px solid gray;
  border-radius: 25px;
  margin-top: 5%;
  margin-bottom: 7%;
  padding: 2%;
  background-color: white;
}

#subheader {
  font-family: 'Quicksand', cursive;
  font-size: 18px;
  margin: -20px 0 40px 14%;
}

.instructions p {
  font-size: 17px;
  margin: 0 0 20px 0;
}

label {
  font-size: 16px;
  font-weight: 100;
  line-height: 10px;
}

/*-- Index Page -- */
input{
  border-radius: 5px;
  padding: 5px;
}
#submit_budget_request {
  margin-top: 10px;
  background-color: #47B5B7;
  border: 1px solid grey;
  font-size: 19px;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

/*-- Budget Show Page --*/
#show_budget_result {
  margin-top: 25px;
}
.total_calculated_budget {
  text-align: center;
  font-weight: 700;
}

/*-- Checklist Page --*/
#submit_checklist {
  margin-top: 10px;
  background-color: #47B5B7;
  border: 1px solid grey;
  font-size: 19px;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

/*-- Checklist Display --*/
#display_budget_rows {
  border: 1px solid grey;
  width: 85%;
  margin: 10px auto;
}

.element {
  border: 1px solid grey;
  padding: 125px 5px;
  text-align: center;
}
#revise_checklist {
  text-align: center;
}

#revise_checklist button {
  text-align: center;
  margin-top: 10px;
  background-color: #47B5B7;
  border: 1px solid grey;
  font-size: 19px;
  color: white;
  text-shadow: 1px 1px 1px grey;
}